#root {

    //% COLOR:
    --color-base-off: #9e9e9e;
    --color-base: #F2F2F2;
    --color-base-dark: #0b0b0b;

    --color-primary-off: #01a6a6;
    --color-primary: #03D3D3;
    --color-primary-hover: #85f9f9;
    --color-secondary: #1addc6;
    --color-secondary-hover: #46eeda;
    --color-tertiary-off: #6f20bd;
    --color-tertiary: #a556f3;


    // request colors:
    --color-get-off: #1addc63a;
    --color-get: #1addc6;
    --color-post-off: #9c6717;
    --color-post: #c4811b;
    --color-put-off: #1a99dd59;
    --color-put: #1a99dd;
    --color-patch-off: #dd1a854e;
    --color-patch: #dd1a85;
    --color-delete-off: #dd1a1a46;
    --color-delete: #c64040;
    --color-middleware-off: #5130aa57;
    --color-middleware: #835ded;
    --color-controller-off: #2734c04e;
    --color-controller: #4761d2;

    //% BG:
    --bg-primary: transparent;
    --bg-primary-hover: #1a6bdd4f;
    --bg-secondary: #3EE6B4;
    --bg-secondary-hover: #1addc6;

    //% BORDER:
    --border-primary: #f2f2f26d;
    --border-secondary: #3D3D3D;
    --border-radius-primary: 1rem;

    //% FONT:
    --font-family-primary: 'M PLUS Rounded 1c';
    // M+PLUS+Rounded+1c
    --font-family-secondary: 'Inter';

    //% FONT SIZE:
    --font-size-extra-small: 0.8rem;
    --font-size-small: 1.2rem;
    --font-size-normal: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 2.4rem;

    //% FONT WEIGHT:
    --font-weight-small: light;
    --font-weight-normal: normal;
    --font-weight-medium: semibold;
    --font-weight-large: bold;

    //% GRADIENT:
    --gradient-primary: linear-gradient(180deg, #3D3D3D 0%, #5a5a5a 20%, #3D3D3D 80%, #3D3D3D 100%);
    --gradient-secondary: linear-gradient(90deg, #03D3D3 0%, #1AA3C2 100%);

    --gradient-success: linear-gradient(180deg, #2b6c64 0%, #22444a 100%);

    --gradient-error: linear-gradient(180deg, #3114d4ab 0%, #5303d38d 100%);
}