.endpoint {
    @include dim_width();
    @include dim_height(3rem);
    @include flex(flex-start, $gap: 1rem);

    .wrap {
        @include flex(flex-start, $gap: .8rem);
        cursor: pointer;

        &:hover {

            p {
                color: var(--color-primary)
            }

            .mark {
                background-color: var(--color-primary);
            }

            .wrap_editor {
                display: flex;
            }
        }

        .wrap_editor {
            display: none;
        }

    }

    .wrap_editor {
        @include flex(flex-start, $gap: 1rem);

        .request_type_selector {
            @include dim_width(9rem);
            @include dim_height(4rem);
            border-radius: 1rem;
            border: 1px solid var(--border-secondary);
            padding: 0rem 1rem;
            background: var(--color-base-dark);
            color: var(--color-base);
            border: 1px solid var(--border-primary);
            font-size: var(--font-size-small);
            cursor: pointer;

            &:focus {
                outline: none;
                border: 1px solid var(--color-primary);
                color: var(--color-primary);
            }
        }
    }
}

.wrap_editor {
    @include flex(flex-start, $gap: 1rem);

    .request_type_selector {
        @include dim_width(9rem);
        @include dim_height(4rem);
        border-radius: 1rem;
        border: 1px solid var(--border-secondary);
        padding: 0rem 1rem;
        background: var(--color-base-dark);
        color: var(--color-base);
        border: 1px solid var(--border-primary);
        font-size: var(--font-size-small);
        cursor: pointer;

        &:focus {
            outline: none;
            border: 1px solid var(--color-primary);
            color: var(--color-primary);
        }
    }
}