#% APP CONFIG
TEST_MODE=false
PORT=3002

#% DEBUG ERRORS
PRINT_BAD_REQUEST=true
PRINT_INTERNAL_ERROR=true
PRINT_SUCCESS_MSG_IN_PROMISE_WRAPPER=true

#% PATHS
BACKEND_PATH=D:\Programacion_Extra\Node_ts\generator\api
JSON_DB_PATH=src\_common\config\generator\data\json_db.json
MODULES_PATH=src\test\folder-tester\app

# LOCAL=
