#% APP CONFIG
INITIAL_DROP_DB=
CONNECT_DB=
TEST_MODE=
PORT=

#% DEBUG ERRORS
PRINT_BAD_REQUEST=
PRINT_INTERNAL_ERROR=
PRINT_SUCCESS_MSG_IN_PROMISE_WRAPPER=

#% TOKEN :
# ADMIN_TOKEN_KEY=
# USER_TOKEN_KEY=

#% DB MONGO
MONGO_URI=
MONGO_DB_NAME=
MONGO_USER=
MONGO_PASS=
MONGO_BASIC_AUTH=

#% DB POSTGRESS
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# DB_HOST=
# DB_PORT=