@import "./.index.scss";

#root {

    //% COLOR:
    --color-base-off: #8a8a8a;
    --color-base: #F2F2F2;
    --color-base-dark: #0b0b0b;

    --color-primary: #03D3D3;
    --color-primary-hover: #85f9f9;
    --color-secondary: #1addc6;
    --color-secondary-hover: #46eeda;
    --color-tertiary: #9934FD;

    // request colors:
    --color-get-off: #1addc63a;
    --color-get: #1addc6;
    --color-post-off: #dd8f1a34;
    --color-post: #c4811b;
    --color-put-off: #1a99dd59;
    --color-put: #1a99dd;
    --color-patch-off: #dd1a854e;
    --color-patch: #dd1a85;
    --color-delete-off: #dd1a1a46;
    --color-delete: #c64040;
    --color-middleware-off: #5130aa57;
    --color-middleware: #5030AA;
    --color-controller-off: #1addc63a;
    --color-controller: #1addc6;

    //% BG:
    --bg-primary: transparent;
    --bg-primary-hover: #1a6bdd4f;
    --bg-secondary: #3EE6B4;
    --bg-secondary-hover: #1addc6;

    //% BORDER:
    --border-primary: #f2f2f26d;
    --border-secondary: #3D3D3D;
    --border-radius-primary: 1rem;

    //% FONT:
    --font-family-primary: 'M PLUS Rounded 1c';
    // M+PLUS+Rounded+1c
    --font-family-secondary: 'Inter';

    //% FONT SIZE:
    --font-size-extra-small: 0.8rem;
    --font-size-small: 1.2rem;
    --font-size-normal: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 2.4rem;

    //% FONT WEIGHT:
    --font-weight-small: light;
    --font-weight-normal: normal;
    --font-weight-medium: semibold;
    --font-weight-large: bold;

    //% GRADIENT:
    --gradient-primary: linear-gradient(180deg, #3D3D3D 0%, #5a5a5a 20%, #3D3D3D 80%, #3D3D3D 100%);
    --gradient-secondary: linear-gradient(90deg, #03D3D3 0%, #1AA3C2 100%);

    --gradient-success: linear-gradient(180deg, #2b6c64 0%, #22444a 100%);

    --gradient-error: linear-gradient(180deg, #3114d4ab 0%, #5303d38d 100%);
}

.endpoint_panel {
    @include dim_width(50rem);
    @include dim_height(70rem);
    @include flex(center, center);

    @media (max-width: 1600px) {
        height: 50rem;
    }

    border-radius: 1rem;

    box-shadow: 0px 0px 10px rgba(142, 142, 142, 0.103);

    .panel {
        @include dim_width();
        @include dim_height();
        @include flex(flex-start, center, column);
        padding: 1rem;
        border-radius: 2rem;
        @include gradient(black_bg);
        @include font_M_PLUS(normal, semibold);

        .title {
            position: relative;
            @include dim_width();
            @include dim_height(6.5rem);
            @include flex();
            @include font_M_PLUS(medium, 400);
            padding: 2rem;
            border-bottom: 1px solid var(--border-secondary);

            .add_route {
                position: absolute;
                right: 2rem;
                @include dim_width(3rem);
                @include dim_height(3rem);
                @include flex();

                background: var(--gradient-secondary);
                color: var(--color-base);

                border-radius: 1rem;
                cursor: pointer;
                transition: 0.7s linear;

                &:hover {
                    transition: 0s linear;
                    background: var(--color-primary-hover);
                }

                div:nth-child(1) {
                    @include flex(center, center);
                    @include gradient(black_bg);
                    border-radius: 1rem;
                }

            }

        }

        .parameters {
            @include dim_width();
            @include dim_height(16rem);
            @include flex(flex-start, center, column);
            @include font_M_PLUS(medium, 400);
            padding: 2rem;
            background-color: var(--color-base-dark);
            border-bottom: 1px solid var(--border-secondary);
            overflow-y: auto;

            .options_list {
                @include dim_width();
                @include flex(flex-start, center, row, 1.8rem);
                padding: 1rem 0;


            }

            .description {
                position: relative;
                @include dim_width();
                @include dim_height(auto);
                @include flex(center, flex-start);
                padding: 1rem 2rem;

                .mark {
                    position: absolute;
                    top: 2rem;
                    left: 0;
                }

                p {
                    line-height: 2rem;
                }
            }

            .module_edit {
                @include dim_width(95%);
                @include dim_height(10rem);
                box-sizing: border-box;
                @include flex(flex-start, center, $gap: 1.3rem);
                border-bottom: 1px solid var(--border-secondary);
                padding: 3rem 0rem;
                padding-left: 2rem;
            }

            .module_container {

                @include dim_width(95%);
                @include dim_height(auto);
                @include flex(flex-start, flex-start, column, 1.5rem);
                padding: 2rem;
                border-bottom: 1px solid var(--border-secondary);
                animation: fadeIn 0.2s ease-in forwards;

                .rename_module {
                    @include dim_width();
                    @include dim_height(3rem);
                    @include flex(flex-start, $gap: 1rem);
                }

                .module {
                    @include dim_width();
                    @include dim_height(3rem);
                    @include flex(flex-start, $gap: 1.3rem);

                    .wrap {
                        @include flex(flex-start, $gap: 1rem);
                        cursor: pointer;

                        &:hover {

                            p {
                                color: var(--color-primary)
                            }

                            .mark {
                                background-color: var(--color-primary);
                            }

                            .wrap_editor {
                                @include flex(flex-start, $gap: .5rem);
                            }
                        }

                        .wrap_editor {
                            display: none;
                        }
                    }
                }

                .endpoint {
                    @include dim_width();
                    @include dim_height(3rem);
                    @include flex(flex-start, $gap: 1rem);

                    .wrap {
                        @include flex(flex-start, $gap: .8rem);
                        cursor: pointer;

                        &:hover {

                            p {
                                color: var(--color-primary)
                            }

                            .mark {
                                background-color: var(--color-primary);
                            }

                            .wrap_editor {
                                display: flex;
                            }
                        }

                        .wrap_editor {
                            display: none;
                        }

                    }

                    .wrap_editor {
                        @include flex(flex-start, $gap: 1rem);

                        .request_type_selector {
                            @include dim_width(9rem);
                            @include dim_height(4rem);
                            border-radius: 1rem;
                            border: 1px solid var(--border-secondary);
                            padding: 0rem 1rem;
                            background: var(--color-base-dark);
                            color: var(--color-base);
                            border: 1px solid var(--border-primary);
                            font-size: var(--font-size-small);
                            cursor: pointer;

                            &:focus {
                                outline: none;
                                border: 1px solid var(--color-primary);
                                color: var(--color-primary);
                            }
                        }
                    }
                }

            }


        }

        .request_input {
            @include dim_width();

            @include flex(flex-start, center, row, 1rem);
            padding: 3rem 2rem 2rem 2rem;

            .send_btn {
                position: relative;

                @include flex();
                padding: 1.9rem 3rem;
                background: var(--gradient-secondary);
                color: var(--color-base);

                border-radius: 1rem;
                cursor: pointer;
                transition: 0.1s linear;

                &:hover {
                    transition: 0.2s linear;
                    background: var(--color-primary-hover);
                }

                div:nth-child(1) {
                    @include flex(center, center);
                    @include gradient(black_bg);
                    border-radius: 1rem;
                }

            }
        }

        .params_selector {
            @include dim_width();
            @include dim_height(4rem);
            padding: 0 2rem;

            nav {
                @include dim_height();
                @include flex(flex-start, center, row, 1.8rem);

                ul {
                    position: relative;
                    @include dim_height();
                    @include flex();

                    .null {
                        position: absolute;
                        @include flex();
                        top: 3rem;
                        right: -.1rem;
                        animation: blink 4s ease-in-out infinite;

                        @keyframes blink {
                            0% {
                                opacity: .6;
                            }

                            50% {
                                opacity: 1;
                            }

                            100% {
                                opacity: .6;
                            }
                        }
                    }

                    p {
                        cursor: pointer;

                        &:hover {
                            color: var(--color-primary);
                        }

                    }
                }
            }

        }

        .properties_list {

            @include dim_width();
            @include dim_height(auto);
            @include flex(flex-start, center, column, 1rem);
            padding: 2rem;
            overflow-y: auto;

            table {
                @include dim_width();
                @include dim_height(auto);
                border-collapse: collapse;
                border-radius: 1rem;

                tbody {
                    @include dim_width();
                    @include dim_height(auto);

                }

                tr {
                    padding: 0;
                    margin: 0;
                    @include dim_width();
                    @include dim_height(4rem);
                    @include flex(space-between, center, row);
                    border-bottom: 1px solid var(--border-secondary);

                    th {
                        @include dim_width(calc((100% / 3) - 3rem));
                        @include flex(flex-start, center);


                    }

                    td {
                        @include dim_width(calc((100% / 3) - 3rem));
                        @include flex(flex-start, center);
                    }

                    .optional {
                        @include dim_width(3rem);
                        @include flex();

                        .checkbox {
                            cursor: pointer;
                            appearance: unset;
                            background: transparent;
                            border: 1px solid var(--color-base-off);

                            &:checked {
                                background: var(--color-tertiary-off);
                                border: 1px solid var(--color-tertiary);
                            }

                            padding: .6rem;
                            border-radius: .4rem;
                        }
                    }
                }
            }
        }
    }

    .add_route_modal {
        z-index: 30;
        position: absolute;
        top: 0;
        @include dim_width();
        @include dim_height(35rem);
        @include flex(center, center);
        @include gradient(black_bg);
        border-radius: 2rem;
        border-bottom: 1px solid var(--gray-color);
        opacity: .9;
    }
}