@import ".index";

footer {
    z-index: 2;
    @include dim_width();
    @include dim_height(6rem, auto, 6rem);
    @include flex();
    padding: 0;
    margin: 0;

    .wrap {
        @include dim_height();
        @include flex();
        border-top: 1px solid var(--border-primary);

        span {
            cursor: pointer;
            transition: .2s ease-in-out;

            &:hover {
                color: var(--color-primary);
            }
        }
        
    }
}