@import "./base";
@import "./utilities/font";
@import "./utilities/gradient";

.testing {
    color: #e7e7e7;
    @include dim_height();
    @include dim_width();
    @include flex($direction: column);
    @include font_Inter(base, normal, bold);
    background-color: var(--normal-blue-color);

    .container {
        @include dim_height(50rem);
        @include dim_width(90rem);
        @include flex($direction: column);
        border-radius: 1rem;
        padding: 5rem;
        background-color: var(--white-color);

        .wrap {
            .item {
                padding: 1rem 0;
                @include flex();
                background-color: #d7404031;
            }
        }
    }
}

:root {

    --white-color: #F2F2F2;
    --hover-blue-color: #333A48;
    --normal-blue-color: #1c2434;
    --strong-blue-color: #01192E;
    --light-blue-color: #E2E8F0;
    --bg-blue-color: #CCD8E3;
    --off-light-blue-color: #8A99AF;


    --strong-green-color: #358F8F;
    --normal-green-color: #4FD1C5;
    --gray-color: #54678a;
    --off-gray-color: #f2f2f26d;
    ;
}

.text_testing {
    background-color: var(--primary-color);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    @include dim_height();
    @include dim_width();

}

body {
    @include dim_height();
    @include dim_width();
    @include font_Inter(base, normal, semibold);
    background-color: #141414;
}

#root {
    position: relative;
    @include dim_height();
    @include dim_width();
    @include flex(flex-start, center, column);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    background-color: #141414;
}

.main_container {
    padding: 8rem;
    @include dim_width(100%, 160rem);
    @include dim_height(auto, auto, auto);
    @include flex(center, center, row, 4rem, wrap);
    align-content: flex-start;
    transition: 0.2s linear;
    animation: opacity 0.5s alternate;


    // main {
    //     @include dim_width(100%, 160rem);
    //     @include dim_height(auto, auto, 70rem);
    //     @include flex(center, flex-start, row, 4rem, wrap);
    //     align-content: flex-start;
    //     padding: 4rem 4rem;
    //     padding-top: 12rem;

    //     background-color: var(--normal-blue-color);
    // }

    .sound_panel {
        @include dim_width(50em);
        @include dim_height(43rem);
        @include flex(center, center);
       
        border-radius: 1rem;
        // border: 1px solid #c5c5c5;
        box-shadow: 0px 0px 40px #66fbdb1d;


        .panel {
            padding: 1rem;
            @include dim_width(100%);
            @include dim_height(100%);
            border-radius: 1rem;
            @include flex(center, center);
            background: linear-gradient(180deg, #66fbdb21 19.35%, #66bdfb17 100%);

            // @include dim_width(30em);
            // @include dim_height(40rem);
            // background-color: #6c6c6c;
            .value {
                @include font_Inter(base, medium, bold);
                position: absolute;
                bottom: 9rem;
                @include flex(center, center, column, 1rem);
                color: var(--white-color);
                text-shadow: 1px 1px 2px #66fbdb;
            }

            .panel_title {
                @include font_Inter(base, medium, semibold);
                position: absolute;
                top: 0rem;
                @include flex($gap: 1rem);
                padding: 1rem 2rem;
                border-radius: 0 0 1rem 1rem;

                letter-spacing: 2px;
                background: linear-gradient(180deg, rgba(102, 251, 219, 0.59), 19.35%, rgba(102, 234, 251, 0.192) 100%);
                // color: var(--white-color);
                // -webkit-background-clip: text;
                // -webkit-text-fill-color: transparent;
                color: var(--white-color);
            }

            input[type="range"]#maxListSize {
                -webkit-appearance: none;
                width: 100%;
                height: 10px;
                background: transparent;
                outline: none;
                border-radius: 5px;

            }

            input[type="range"]#maxListSize::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 15px;
                height: 15px;
                background: #eaeaea;
                border-radius: 50%;
                cursor: pointer;
                // Add transform property to center the round slider
                transform: translateY(-25%);
            }

            input[type="range"]#maxListSize::-webkit-slider-runnable-track {
                width: 100%;
                height: 10px;
                background: linear-gradient(180deg, rgba(102, 251, 219, 0.445), 19.35%, rgba(102, 234, 251, 0.192) 100%);
                border-radius: 5px;
            }
        }
    }
}

.light_panel {
    @include dim_width(30em);
    @include dim_height(38rem);
    @include flex(center, center);
    background-color: #52b6cd43;
    box-shadow: 0px 0px 40px #66fbdb1d;

    .panel {
        padding: 4rem 0rem;
        @include dim_width();
        @include dim_height();
        border-radius: 1rem;
        @include flex(flex-end, center, column);
        background: linear-gradient(180deg, #66fbdb21 19.35%, #66bdfb17 100%);

        .panel_title {
            @include font_Inter(base, medium, semibold);
            position: absolute;
            top: 0rem;
            @include flex($gap: 1rem);
            padding: 1rem 2rem;
            border-radius: 0 0 1rem 1rem;

            letter-spacing: 2px;
            background: linear-gradient(180deg, rgba(102, 251, 219, 0.59), 19.35%, rgba(102, 234, 251, 0.192) 100%);
            // color: var(--white-color);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            color: var(--white-color);
        }

        .graphic {
            position: relative;
            @include dim_width(20em);
            @include dim_height(100%, 23rem);
            @include flex(center, center);

            .value {
                @include font_Inter(base, medium, bold);
                position: absolute;
                bottom: 37%;
                @include flex(center, center, column, 1rem);
                color: var(--white-color);
                text-shadow: 1px 1px 2px #66fbdb;
            }

        }

    }

}


::selection {
    background-color: map-get($text_color, base);
    color: #141414;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 1.5rem;
}

::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(196, 196, 196, 0.813);
    background-color: #1c1c1c;
}

::-webkit-scrollbar-thumb {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
    /* background-color: #6153cc; */
    /* background: linear-gradient(0deg, #5c07ff 0%, #8f2aff 100%); */
    background-color: #1f8282;
    // border: 1px solid var(--secondary-color);

}

p {
    margin: 0;
    padding: 0;
}



.border_gradient {
    position: relative;
    @include flex();
    background: map-get($gradient_color, primary);

    .children {
        position: absolute;
        z-index: 21;
        @include gradient(black_bg);
    }
}

@media (max-width: 1000px) {
    .main_container {}

}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

//hardcoding
.water_container {
    position: relative;
    @include flex();

    &:hover {
        .pin_flujo_de_agua {
            display: inline-block;
        }
    }

    .pin {
        display: block;
        position: absolute;
        top: -4rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
        background-color: #267CCA;
        color: var(--white-color);
        box-shadow: 4px 2px 6px #00000033;
    }
}

.switch.dahsboard {
    @include dim_width();
    @include dim_height();
    @include flex();

}