@import "../../base";
@import "../../utilities/gradient";
@import "../../utilities/font";
@import "../../utilities/border";

.header {
    position: fixed;
    top: 0;
    z-index: 21;
    @include dim_width(calc(100% - 29rem));
    @include dim_height(8rem);
    background-color: var(--white-color);
    box-shadow: 4px 2px 6px #00000033;
    transition: 0.2s linear;
    animation: opacity 1s alternate;

    nav {

        @include dim_width();
        @include dim_height();
        @include font_Inter(base, normal, semibold);
        @include flex(space-between, center, row, 1.5rem);
        padding: 0 3rem;
        color: var(--normal-blue-color);

        ul {
            margin: 0;
            padding: 0;
            @include flex(center, center, row, 4rem);


            li {

                @include dim_height();
                @include flex(center, space-between, row, 2rem);
                cursor: pointer;

                .user_info {

                    p:nth-child(2) {
                        color: var(--hover-blue-color);
                    }

                }

                .switch_dark_mode {
                    @include dim_width(5.6rem);
                    @include dim_height(3rem);
                    @include flex();
                    background-color: var(--light-blue-color);
                    border-radius: 2rem;
                    padding: 0 0.4rem;
                    transition: 0.1s linear;


                    .circle {
                        @include dim_width(2.4rem);
                        @include dim_height(2.4rem);
                        @include flex();
                        background-color: var(--white-color);
                        border-radius: 2rem;

                        img {
                            @include dim_width(1.5rem);
                            @include dim_height(1.5rem);
                            object-fit: cover;
                        }
                    }
                }



                .icon {
                    // @include dim_width(3rem);
                    @include flex();

                    img {
                        cursor: pointer;
                        @include image();
                    }
                }

                .photo {
                    @include dim_width(5rem);
                    @include dim_height(5rem);
                    @include flex();

                    img {
                        border-radius: 100%;
                        cursor: pointer;
                        @include image();

                    }
                }

                .arrow {
                    @include flex();

                }
            }

        }

    }

}

@media (max-width: 850px) {
    .user_info {
        display: none;
    }

}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}