@import "../../base";
@import "../../utilities/gradient";
@import "../../utilities/font";
@import "../../utilities/border";



.slide_bar:hover {}

.slide_bar_container {
    transition: transform linear 0.2s;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    @include dim_width(29rem);
    @include dim_height();
    @include flex(space-between, center, column);
    background-color: var(--normal-blue-color);
    animation: opacity 1s alternate;

}

.slide_bar {
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 2rem;
    @include dim_width(29rem);
    @include dim_height(calc(100% - 6rem));
    @include flex(flex-start, center, column);
    @include font_Inter(base, normal, semibold);

    color: var(--light-blue-color);

    .top {
        @include dim_width();
        // @include dim_height(8rem);
        @include flex($gap :1rem);
        @include font_Inter(base, medium, semibold);
        padding: 2.13rem 0;
        // border-bottom: 1px solid var(--secondary-color);

        .logo {
            @include dim_width(4rem);
            @include dim_height();
            @include flex();

            img {
                @include image();
            }
        }
    }

    .title_slide {
        @include dim_width();
        @include flex(flex-start, center);
        padding-left: 5.2rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
        color: var(--off-light-blue-color);
    }
}


.slide_bar nav {
    @include dim_width();
    @include font_Inter(base, normal, semibold);
    @include flex(flex-start, center, column);
    padding-left: 3rem;

    ul {
        @include dim_width();
        @include flex(center, flex-start, column);
        padding: 0.5rem 0;
        @include dim_width();
        margin: 0;

        .title {

            padding: 1rem 2rem;
            @include dim_width();
            @include flex(space-between, center, row);
            @include font_Inter(base, normal, semibold);
            cursor: pointer;
            transition: linear 0.2s;
            transition-property: background-color;

            &._active {
                background-color: var(--hover-blue-color);
            }

            &:hover {
                background-color: var(--hover-blue-color);
            }

            .wrap {
                @include flex($gap: 1.3rem);

                .icon {
                    @include dim_width(1.8rem);
                    @include flex();

                    img {
                        width: 100%;
                    }
                }
            }

            .arrow {
                margin-left: 1.8rem;
                transition: transform 0.1s linear;
                transform: rotate(180deg);

                &._rotate {
                    transform: rotate(0);
                }
            }

        }

        .li_active {
            color: var(--light-blue-color) !important;
        }

        .sub_menu_container {
            overflow: hidden;
            transition: linear .2s;

            .wrap {
                @include flex(center, flex-start, column);
            }
        }

        li {
            padding: 0;
            padding: 1rem 0;
            padding-left: 5rem;
            @include flex($gap: 1rem);
            color: var(--off-light-blue-color);
            cursor: pointer;


        }
    }

}

.slide_bar .helper_alert {
    @include dim_width(18rem);
    @include dim_height(22rem);
    @include flex(flex-start, center, column, 1rem);
    padding: 2rem;
    margin: 5rem 0;
    border-radius: 1.3rem;
    background-color: var(--strong-blue-color);
    cursor: pointer;

    p {
        font-size: 1rem;
    }
}

.bottom {
    @include dim_width(29rem);
    @include dim_height(6rem);
    @include flex(space-evenly);
    z-index: 233;
    background-color: var(--strong-blue-color);

    .icon {
        @include dim_height();
        @include flex();

        img {
            cursor: pointer;
            @include image();
        }
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}