#% APP CONFIG
TEST_MODE=
PORT=

#% DEBUG ERRORS
PRINT_BAD_REQUEST=
PRINT_INTERNAL_ERROR=
PRINT_SUCCESS_MSG_IN_PROMISE_WRAPPER=

#% PATHS
BACKEND_PATH=
JSON_DB_PATH=
MODULES_PATH=
# BACKEND_PATH=
#% TOKEN :
# ADMIN_TOKEN_KEY=
# USER_TOKEN_KEY=

# LOCAL=
